language: ruby

sudo: false

before_install: gem i bundler -v '<2' --no-document

matrix:
  include:
    - rvm: 2.3.8
      gemfile: gemfiles/Gemfile-rails.4.2.x
    - rvm: 2.4.5
      gemfile: gemfiles/Gemfile-rails.5.0.x
    - rvm: 2.5.3
      gemfile: gemfiles/Gemfile-rails.5.1.x
    - rvm: 2.6.1
      gemfile: gemfiles/Gemfile-rails.5.2.x
